<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <%if (user) {%> <%if (!user.isMember) {%>
    <h1>Become a member <a href="/member-form">here</a> to post a message</h1>
    <a href="log-out">Logout</a>
    <%} else {%>
      <h1><a href="/message-form">Send Message</a></h1>
      <br>
    <a href="log-out">Logout</a>
    <%}%> <%} else {%>
    <h1>Welcome to message board</h1>
    <h3>Please login or sign-up <a href="/sign-up">here</a></h3>
    <form action="" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" />
      <label for="password">Password</label>
      <input type="password" name="password" />
      <button type="submit">Log In</button>
    </form>
    <%}%>
  </body>
</html>
